body {
    background-image: url("../assets/bgimage.jpg");
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    align-items: center;
    justify-content: center;
}

.login {
    width: 300px;
    padding: 20px;
    height: min-content;
    border-radius: 5px;
    background-color: aliceblue;

    align-items: center;
    justify-content: center;
}