.first-content-block, .bottom-area, .about-area {
    height: 456px;
    background-color: #FFDEDE;
    padding: 5px;
    margin: 5px;
}

.text-area, .bottom-area, .about-area {
    padding: 5px;
    align-items: center;
    display: flex;
}
.text-content > p, .bottom-content > p, .about-content > p {
    color: black;
}

.about-container {
    padding: 5px 120px !important;
}
