@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the layout takes at least the full viewport height */
}

.content {
  flex: 1; /* This ensures that the content area takes up all available space */
}

* {
    font-family: "Poppins";
    color: #999696;
}
.footer-block {
    padding: auto;
    margin-left: 195px;
    margin-right: 220px;
    background-color: #FF4747;
}

.item-slot {
    background-color: #FFDEDE;
    border: 2px #999696 solid;    
    border-radius: 2px;
}

.item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
  }

.item-image-container {
    justify-content: center;
}

.item-details {
    flex: 1;
}
  
.item-name {
    font-size: 1.2rem;
    margin-bottom: 5px;
}
  
.item-price {
    font-size: 1rem;
    color: #555;
}

.product-container {
    padding: 20px;
}
  
.product-table {
    width: 100%;
    border-collapse: collapse;
}
  
.product-table td {
    padding: 10px;
}
  
.product-table td img {
    max-width: 100%;
    height: auto;
}